.textarea {
  display: block;
  width: 100%;
  min-height: 400px;
  resize: none;
  padding: 10px;
  font-size: 18px;
}

.submitBtn {
  text-transform: uppercase;
}

.submitBtnWrap {
  margin-top: 20px;
}