{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": ["airbnb/base", "plugin:import/typescript"],
  "rules": {
    "no-use-before-define": "off",
    "no-console": "off",
    "no-prototype-builtins": "off",
    "no-underscore-dangle": "off",
    "linebreak-style": 0,
    "import/no-cycle": "off",
    "import/prefer-default-export": "off",
    "import/newline-after-import": "off",
    "object-curly-newline": "off",
    "implicit-arrow-linebreak": "off",
    "no-confusing-arrow": "off",
    "import/extensions": ["error", "always", {
      "js": "never",
      "jsx": "never",
      "ts": "never",
      "tsx": "never"
    }]
  }
}
