.noteWrapper {
  position: relative;
  background: #f8f8f8;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 1px 1px 10px -3px rgba(0, 0, 0, .4);
  cursor: pointer;
  transition: box-shadow .1s linear;
  &:hover {
    box-shadow: 1px 1px 10px -3px rgba(0, 0, 0, .8);
  }
}

.note {
  color: #000;
  text-decoration: none;
}

.noteHeader {
  display: flex;
}

.noteInfo {
  display: flex;
  padding-right: 15px;
  flex: 1;
}

.noteAvatar {
  max-width: 80px;
  width: 100%;
}

.noteData {
  padding: 10px;
}

.noteContent {
  padding: 20px 0 0 10px;
}

.date {
  font-size: 12px;
}

.author {
  font-size: 20px;
  margin-bottom: 5px;
}

.loaderWrap {
  background: rgba(0, 0, 0, .4);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loaderInner {
  position: relative;
  width: 100px;
  height: 100px;
}