.wrapper {
  min-height: 100vh;
  width: 100%;
  padding: 60px;
  display: flex;
  background: #e5e5e5;
}

.container {
  width: 100%;
  display: flex;
}

.box {
  margin: auto;
  max-width: 640px;
  width: 100%;
  border: 1px solid rgb(201, 201, 201);
  background: #fff;
}

.boxContent {
  padding: 15px;
}

.headerLinks {
  display: flex;
  justify-content: center;
  & a {
    transition: background .1s linear;
  }
  &:hover a {
    background: #cdcdcd;
  } 
}

.headerLinks a:hover,
.headerLinks a:hover ~ a
.headerLinks a:hover + a {
  background: #fff;
}

