.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
}

.contentWrap {
  position: relative;
  height: 100%;
  width: 100%;
}

.content {
  position: relative;
  flex: 1;
  padding: 60px 20px 20px 20px;
  max-width: 1200px;
  height: 100%;
}

.main {
  flex: 1;
  display: flex;
}

.mainInner {
  display: flex;
  flex: 1;
}

.loaderWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.loaderInner {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.loaderContainer {
  left: 100px;
  margin: auto;
  position: relative;
  width: 80px;
  height: 80px;
}